

 .bgs{
      background-color: rgba(26,188,156,255) !important;

 }  
  .line-with-star {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .line {
    flex-grow: 1;
    height: 4px; 
    background-color: #fafafa; 
    font-weight: bold;
  }
  
  .star {
    padding: 20px ; 
    font-size: 30px; 
    color: #fffefa; 
    font-weight: bold;
  }
  /* .nav-item a:hover{
    color:rgba(26,188,156,255) !important ;
    transition: .3s;
  } */
   .l{
   text-decoration: none !important;
   
  }


.product:hover{
  border: 2px solid rgb(26, 254, 26);
}

.no-decoration {
  text-decoration: none !important;
  color: black !important;
}
.scorllable-container {
  overflow-x: hidden !important;
}

.ho:hover{
  color: red !important;
}
.ho{
  cursor: pointer;
}
